.dropdown-toggle {
    background-color: #d0d0d07b;
    color: black;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

a.nav-link.active {
    background-color: #ffae00;
}

a.nav-link:hover {
    background-color: #ffae00;
}

ul.dropdown-menu.show {
    width: 100%;
    padding-left: 10px;
}

.navbar-custom {
    background-color: #ffd500;
}

.btn-primary {
    background-color: #ffd500;
    border-color: #ffd500;
}

.btn-primary:hover {
    background-color: #ffae00;
    border-color: #ffae00;
}